.login-form_input{
    margin: 0;
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    width: 100%
}
.login-form_input:nth-child(2){
    margin-top: 30px;
}