.element{
    height: 100%;
    max-height: 361px;
    width: 282px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
