.popup__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
@media screen and (max-width: 875px){
    .popup__container{
        width: calc(100% - 19px*2);
    }
}

